.primary {
  --background: #275efe;
  --background-hover: #1d4fe1;
  --background-disabled: #567ae4;
  --border: #275efe;
  --shadow: rgba(39, 94, 254, 0.3);
  --shadow-hover: rgba(39, 94, 254, 0.5);
  --text: #fff;
}

.secondary {
  --background: #fff;
  --background-hover: #fff;
  --background-disabled: #eff1ff;
  --border: #d1d6ee;
  --shadow: rgba(4, 18, 104, 0.08);
  --shadow-hover: rgba(4, 18, 104, 0.16);
  --text: #2b3044;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text);
  outline: 0;
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--background);

  padding: 0 30px;
  margin: 0 12px;
  height: 44px;
  line-height: 20px;

  font-family: inherit;
  font-weight: 600;
  font-size: 14px;

  cursor: pointer;
  filter: drop-shadow(0 2px 5px var(--shadow));
}

.button:hover {
  background-color: var(--background-hover);
  filter: drop-shadow(0 2px 5px var(--shadow-hover));
}

.button[disabled] {
  background-color: var(--background-disabled);
}
